# TASK
 **NAME** : SOLOMON PROMISE

### Importing Lib.

In [1]:
import pandas as pd

#### Uploading Iris dataset

In [2]:
iris = pd.read_csv('iris.csv')

In [28]:
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Subsetting Iris_virginicas

In [20]:
#subsetting all species = Iris-virginica
iris_virginicas = iris[iris["species"] == "Iris-virginica"]
iris_virginicas.head()

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

In [23]:
#subsetting Iris-virginica for sepal width >5 and >3
iris_vir5 = iris_virginicas[(iris_virginicas["sepal_length"] > 5.0) & (iris_virginicas["sepal_width"] > 3.0)]
iris_vir5

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
110           6.5          3.2           5.1          2.0  Iris-virginica
115           6.4          3.2           5.3          2.3  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
120           6.9          3.2           5.7          2.3  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

In [27]:
#exporting the above subset
#I don't want my index, hence index = False
iris_vir5.to_csv("Iris_virg.csv", index = False, encoding = "utf8")

#### Subsetting Setosas

In [36]:
#subsetting species = Iris-setosa
iris_setosa = iris[iris['species'] == "Iris-setosa"]
iris_setosa.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [46]:
#subsetting the species for petal length >= 3.50, & < 3.50
Iris_S = iris_setosa[(iris_setosa["petal_length"] >= 3.50) & (iris["petal_width"] < 3.50)]
Iris_S

C:\Users\SOLOMON PROMISE\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [59]:
#result for the first condition in boolean values. (the reason for doing this is to know why my table above is empty)
iris_setosa["petal_length"] >= 3.50

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: petal_length, dtype: bool

In [60]:
#result for the second condition in boolean values.
iris["petal_width"] < 3.50

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: petal_width, Length: 150, dtype: bool

In [61]:
#boolean operation for the two conditions
(iris_setosa["petal_length"] >= 3.50) & (iris["petal_width"] < 3.50)

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

### Reason for the empty table


**The subsetting the species for petal_length >= 3.50, & petal_width < 3.50 returned an empty table because for the first condtions (iris_setosa["petal_length"] >= 3.50) where all "FALSE", while that of the second conditions are "TRUE".
Recall that from the knowledge of boolean operation, TRUE AND FALSE equal FALSE, hence the reason for the empty table.**

In [62]:
#exporting the data set (Iris_S)
Iris_S.to_csv("Iris_Pet.csv", index = False, encoding = "utf8")

### Remaining The Column Names

In [53]:
iris_renamed = iris.rename(columns = {"sepal_length":"sep_len", 
             "sepal_width":"sep_wid", 
             "petal_length":"pet_len",
             "petal_width":"species"})

In [54]:
iris_renamed

     sep_len  sep_wid  pet_len species         species
0        5.1      3.5      1.4     0.2     Iris-setosa
1        4.9      3.0      1.4     0.2     Iris-setosa
2        4.7      3.2      1.3     0.2     Iris-setosa
3        4.6      3.1      1.5     0.2     Iris-setosa
4        5.0      3.6      1.4     0.2     Iris-setosa
..       ...      ...      ...     ...             ...
145      6.7      3.0      5.2     2.3  Iris-virginica
146      6.3      2.5      5.0     1.9  Iris-virginica
147      6.5      3.0      5.2     2.0  Iris-virginica
148      6.2      3.4      5.4     2.3  Iris-virginica
149      5.9      3.0      5.1     1.8  Iris-virginica

[150 rows x 5 columns]

In [55]:
#exporting iris_renamed
iris_renamed.to_csv("iris_renamed.csv", index = False, encoding = "utf8")